body{
    margin: 0;
    background-image: url(assets/fundotec2000.png);
    background-size: cover;
    color: white;
}
#container{
    display: flex; 
    align-items: center; 
    width: 100%;
    height: 790px;

    flex-direction: column;
    /*flex-direction: row;
    flex-wrap: wrap
    flex-flow: row wrap;*/
}

#menu{
    display: flex;
    flex-direction: row;
    background-color: #1643A0;
    align-self: flex-end;
    margin: 20px;
    text-align: center;
}

.item{
    width: 20%; 
    margin: 10px;
    padding: 10px;
 }


a{
    color: white;
    text-decoration: none;
}

.clicado{
    color: gray;
    text-decoration: underline;
}

img{
    width: 300px;
    padding: 10px 20px;
    margin: 50px;

}

#imagem{

    text-align: center;

}

#conteudos{
    display: flex;
    flex-direction: row;


}

.skills{
    width: 200px;
    height: 220px;
    background-color: #4D5B7B;
    padding: 10px 25px;
    margin-top: 300px;
    border-radius: 5%;
}