body{
    margin: 0;
    background-image: url(assets/fundotec2000.png);
    background-size: cover;
    color: white;
    text-align: center;
}
#container{
    display: flex; 
    align-items: center; 
    width: 100%;
    height: 790px;

    flex-direction: column;
    /*flex-direction: row;
    flex-wrap: wrap
    flex-flow: row wrap;*/
}

#menu{
    display: flex;
    flex-direction: row;
    background-color: #1643A0;
    align-self: flex-end;
    margin: 20px;
}

.item{
    width: 20%; 
    margin: 10px;
    padding: 10px;
 }


a{
    color: white;
    text-decoration: none;
}

.clicado{
    color: gray;
    text-decoration: underline;
}

img{
    width: 300px;
    padding: 10px 20px;
    margin: 20px;
}

#conteudos{
    display: flex;
    align-items: center;
    margin-top: 75px;
    justify-content: space-between;

}

#descricao{
    background-color: #1643A0;
    width: 275px;
    padding: 10px 20px;
    text-align: justify;
    margin: 20px;

}